SQLSERVER_SA_PASSWORD=ChangeMe#Local1
SQLSERVER_PORT=1433

API_PORT=5080
API_CONNECTION_STRING=Server=sqlserver;Database=BMPCommerceDb;User Id=sa;Password=ChangeMe#Local1;TrustServerCertificate=True

WEB_PORT=5173
VITE_API_URL=http://localhost:5080
